<div class="jumbotron">
    <h1>ASP.NET Web API sample</h1>
    <p class="lead">
        This sample is from Wrox Professional ASP.NET MVC 5, Chapter 11. It exposes a
        simple data object through Entity Framework’s Code First feature.
    </p>
    <p><a href="~/Help" class="btn btn-primary btn-lg">View API Documentation</a></p>
</div>
